.favouriteWrapperTwo{
    // display: flex;
    // height: 50px;
    width: 800px;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: rgb(7, 23, 77);
    border: solid 2px #ddbc2a;
    border-radius: 30px;
 
   
    &__title{
        width: 800px;
        height: 30px;
        text-align: left;
       
        p {
            font-family: black ops one;
            font-size: 20px;
        }
        a {
            color: #e2e1d0;
            text-decoration: none;
        }
        
    }
    button{
        color: #f3290a;
        border: solid 1px #dac511;
        border-radius: 30px;
        background-color: #0c3068;
    }
    
}