.alertDanger {
    width: 750px;
    padding: 5px 20px;
    margin-left: 65px;
    font-family: black ops one;
    .messageDanger {
        color: rgb(255, 38, 0);
    }
}

.alertSuccess {
    width: 750px;
    padding: 5px 20px;  
    margin-left: 65px; 
    font-family: black ops one;
    .messageSuccess {
        color: rgb(178, 134, 2);
    }
}