.heading {
    padding-left: 24px;

    h1 {
        color: $fontColor;
        font-family: Black Ops One;
    }
}

.subHeading {
    padding-left: 24px;
    padding-bottom: 20px;

    h2 {
        color: $fontColor;
        font-family: Black Ops One;
    }
}


.genresPad {
    font-family: $fontPrimary;
    color: $fontColor;
    width: 1200px;
    height: 1000px;
    margin: auto;
    background-color: rgba(10, 25, 65, 0.918);
    border: solid 2px #ebcd38;
    border-radius: 30px;
    padding: 20px 0px 0px 20px;

}