title {
    font-family: black ops one ;
}


.big-banner {
    box-sizing: border-box;
    background-image: url('../Images/BackgroundImage.jpg');
    background-size: cover;
    margin: auto 0;
}

*, *:before, *:after {

    box-sizing: inherit;
}