title {
    // box-sizing: border-box;
    // background-image: url('../Images/BackgroundImage.jpg');
    // background-size: cover;
    // margin: auto 0;
    font-family: black ops one ;
}

// *, *:before, *:after {

//     box-sizing: inherit;
// }

.big-banner {
    box-sizing: border-box;
    background-image: url('../Images/BackgroundImage.jpg');
    background-size: cover;
    margin: auto 0;
}

*, *:before, *:after {

    box-sizing: inherit;
}