.dope {
    margin-bottom: 50px;
    margin-top: 50px;

    img {
        transition: all 1s;
    }

    img:hover {
        transform: scale(1.1);
    }
}
.card {
    border: solid 2px #453a0c;
    border-radius: 30px;
}
.card-img-top {
    border: solid 2px #453a0c;
    border-radius: 30px;
}
.card-body {
    height: 70px;
    width: 200px;
    margin-top: 10px;
    padding: 10px;
}
.card-title {
    font-size: 10px;
    color: #E8EDC8;
}
.card-text {
    color: #E8EDC8;
}
.button {
    background-color: #111A39;
    border: solid 2px #1b1705;
    border-radius: 30px;
    width: 110px;
    margin-top: 20px;
    color: #E8EDC8;
}