// .col-sm {
//     color: aliceblue;
   
//     &__card {
//         color: aliceblue;

//         a {
//             text-decoration: none;
//             color: aliceblue;
//         }

//         img {
//             height: 150px;
//             width: 150px;
//         }
//     }
// }

// .row {

//     // padding-top: 30px;
//     // padding-left: 30px;
//     // display: grid;
//     // row-gap: 10px;
//     // grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
// //     color: #E8EDC8;

// //     img {
// //         height: 300px;
// //         border: solid 2px #E8EDC8;
// //         border-radius: 30px;
// //     }

// //     a {
// //         text-decoration: none;
// //         color: #E8EDC8;
// //     }
// // }
    
    
// .cardWrapper {
//     color: antiquewhite;
//     border: solid 2px #ffff;
//     width: 160px;
    
//     &__Image {
//         width: 150px;
//     }
//     &__Content {
//         width: 150px;
//     }
// }  

// .cont {
//     float: left;
//     // display: grid;
//     // grid-template-columns: auto 1fr 1fr ;
//     // grid-template-columns: repeat(auto-fill, minmax(300px, 5fr));
//     // grid-template-rows: 1fr;
// }

// .container {
//     height: 8000px;
//     // display: grid;
//     // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
//     // column-count: 3;
// }
// .contan{
//     display: grid;
//     row-gap: 20px;
//     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
// }

// .row {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
//     row-gap: 10px;

// }






// .shelfGridWrapper {
//     display: grid;
//     row-gap: 150px;
//     height: 2900px;
//     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
//     background-color: rgba(10, 25, 65, 0.918);
//     padding-left: 40px;
//     padding-top: 40px;
//     padding-right: 35px;
//     padding-bottom: 40px;
//     margin: auto;

//     &__slot {
//         background-color: rgba(105, 159, 229, 0.658);
//         width: 150px;
//         height: 200px;

//         &__button {
//             font-size: 5px;
//             font-family: Black Ops One;
//             background-color: rgba(9, 61, 95, 0.76);
//             border-radius: 30px;
//             height: 30px;
//             width: 120px;
//             transform: translate(0%, 900%);
//             color:#E8EDC8;
//         }
//     }

    
// }
// .row {
//     display: grid;
//     grid-template-columns: 200px 200px 200px 200px 200px;
//     // background-color: rgb(30, 44, 108);
//     padding-top: 20px;
//     padding-left: 20px;
//     padding-bottom: 0px;
//     margin-bottom: 10px;
//     height: 1000px;
//     width: 1040px;
//     // repeat(auto-fill, minmax(180px, 1fr));
// }

.dope {
    margin-bottom: 50px;
    margin-top: 50px;

    img {
        transition: all 1s;
    }

    img:hover {
        transform: scale(1.1);
    }
}
.card {
    border: solid 2px #453a0c;
    border-radius: 30px;
    // padding-bottom: 100px;
}
.card-img-top {
    border: solid 2px #453a0c;
    border-radius: 30px;
}
.card-body {
    height: 70px;
    width: 200px;
    // background-color: rgba(175, 183, 183, 0.236); 
    margin-top: 10px;
    padding: 10px;
    // border: solid 2px #453a0c;
    // border-radius: 30px;
}
.card-title {
    font-size: 10px;
    color: #E8EDC8;
}
.card-text {
    color: #E8EDC8;
}
.button {
    background-color: #111A39;
    border: solid 2px #1b1705;
    border-radius: 30px;
    width: 110px;
    margin-top: 20px;
    color: #E8EDC8;
}