.testimonials__grid {
    font-family: $fontPrimary;
    color: $fontColor;
    padding-left: 25px;
    padding-bottom: 50px;
    
   
    h1 {
        font-size: 15px;
        text-align: center;
        padding-top: 100px;
        color: #E8EDC8;
        padding-bottom: 50px;

    }

    h2 {
        font-size: 50px;
        text-align: center;
        padding-top: 2px;
        color:#E8EDC8;
        padding-bottom: 50px;
    }

    &__wrapper {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        
       
        &__box {
            width: 350px;
            height: 350px;
            background-color: rgba(12, 114, 187, 0.1);
            padding: 0px 30px;
            align-items: center;
            padding-top: 30px;
            border: solid 2px ;
            border-radius: 30px;
            border-color: #e7c94499;


            &__image {
                padding-top: 10px;
                padding-bottom: 20px;
            }

            img {
                width: 90px;
                height: 90px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }

            &__header {
                text-align: center;
                font-weight: bold;
                padding-bottom: 10px;
                color:#E8EDC8;
               
            }

            &__subheadline{
                color:#E8EDC8;
            }
        }
    }
}

.teaser {
    width: 1150px;
    height: 500px;
    border: 2px;
    border-radius: 20px;
    background-color: rgba(29, 72, 110, 0.945);
    margin: auto;
    padding: 80px;
    
    
    text-align: center;
    color: $fontColor;
    font-family: $fontPrimary;

    h1 {
       font-size: 50px; 
       padding-bottom: 60px;

    }

    h2 {
        font-size: 20px;
        padding-bottom: 20px;
    }

    &__button {
        font-family: $fontPrimary;
        font-size: 15px;
        width: 300px;
        font-weight: bold;
        position: relative;
        border-radius: 30px;
        color: $fontColor;
        background-color: $buttonTwoColor;
        padding: 20px 60px; 

        a {
            color: $fontColor;
            font-size: 20px;
            text-decoration: none;
            display: block;
        }
    }

    
}