{% extends "base.html" %} {% block title %}Favourites{% endblock %}

{% block favourites %}

    <div class="heading"><h1 style="color: #E8EDC8;">Your favourites</h1></div>
    
 
    {% for x in favourite_list %}
        
        <div class="favouriteWrapper">
            <div class="favouriteWrapper__title">
                <a href="{{url_for('views.movieDescription', title=x)}}" ><p class="">{{x}}</p></a>
            </div>  
            <div class="favouriteWrapper__button">
                <a href="{{url_for('views.delete_from_list', title=x)}}" ><button class="" >Remove</button></a>
            </div>
        </div>

    {% endfor %}
    
{% endblock %}