{% extends "base.html" %} {% block title %}Login{% endblock %}


{% block content %}

    <form autocomplete="off" method="POST" class="login ">
        <div class="login__heading"><h1>Log In</h1></div>
        <div class="login__subHeading" style="color:Black Ops One;"><h3>Please enter your email and password to access your Emovies account.</h3></div>
        <br>
    
        <br>
        <div class="login__email">
            <input type="email" class="login__email__input" id="email" name="email" placeholder="Email">
        </div>

        <div class="login__password">
            <input type="password" class="login__password__input" id="password" name="password" placeholder="Password">
        </div>
        
        <br>
        <button type="submit" class="login__button">Log In</button>
    </form>
    
{% endblock %}